.main-section{
    padding: 0 0;
    background-color: lightgrey;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-section div{
    display: inline-block;
    flex-basis: 40%;
    
}

