img{
    margin-bottom: -6px;
    width: 100%;
}

.main-section{
    padding: 0 0 0 0;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.main-section div{
    display: inline-block;
}

.white{
    background-color: white;
    color: #2f6273;
    font-size: 25px;

}

.white h3{
    font-weight: 400;
}

.rose{
    background-color: #DE837C;
    color: white;
    font-size: 25px; 
}

.rose h3{
    font-weight: 400;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.flex-35{
    flex-basis: 35%;
}

.flex-65{
    flex-basis: 65%;
}

@media screen and (max-width: 768px){
    .white{
        font-size: 18px;
    }

    .rose{
        font-size: 18px;
    }
}

@media screen and (max-width: 375px){
    .image img{
        display: none;
    }

    .main-section{
        text-align: center;
        flex-direction: column;
        font-size: 13px;
        padding: 5% 20px;
    }


}

