.taskNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgba(176, 216, 204);
    
}

.taskNav li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.taskNav ul{
    padding-left: 0;
}

.bold{
    font-weight: bold;
}

.taskNav li a{
    color: #2f6273;
}