.hero{
    padding: 0% 0px 30% 70px;
    text-align: center;
    background-image: url('../../media/woman-celebrating-house-chores.jpg');
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-box{
    background-color: rgba(176, 216, 204);
    padding: 3% 20px;
    flex-basis: 30%;
    margin-right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.hero-box h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

.signUpButton, .signup, .signUpButton a{
    background-color: #DE837C !important;
}

.signUpButton{
    border-radius: 10px;
    width: 100px;
}

.sub-header{
    padding: 5% 60px;
    text-align: center;

}

.sub-header h3{
    font-weight: 400;
    line-height: 50px;
    color: #2f6273;
    font-size: 17px;
    line-height: 28px;
}

.signUpButton a {
    color: white;
    font-size: 15px;
}

@media screen and (min-width: 768px){
    .hero{
        padding-right: 0;
    }

    .hero-box{
        margin-right: 20px;
    }

    .hero-box h2{
        font-size: 35px;
    }
    
    .sub-header h3{
        font-size: 20px;
        line-height: 40px;
    }

    .signUpButton{
        width: 120px;
    }

    .signUpButton a {
        color: white;
        font-size: 20px;
    }

}

@media screen and (min-width: 1280px){
    .hero-box{
        margin-right: 150px;
    }

    .hero-box h2{
        font-size: 50px;
    }

    .sub-header h3{
        font-size: 30px;
    }
    
    .hero{
        padding-right: 60px;
    }
}