.addItem{
    padding: 1% 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.addItem p {
    background-color: #DE837C;    
    border-radius: 10px;
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addItem a{
    color: white;
    font-size: 20px;
}