
.taskItem{
    flex-basis: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    color: #2f6273;
}

.taskName{
    flex-basis: 45%;
}

.assignee{
    flex-basis: 20%;
    text-align: left;
}

.points{
    flex-basis: 20%;
    text-align: left;
}

.assignee{
    font-style: italic;
    margin-right: 10px;
}

.taskDone{
    text-decoration: line-through;
}