
.taskItem{
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #2f6273;
}

.taskName{
    flex-basis: 45%;
}

.assignee{
    flex-basis: 20%;
    text-align: left;
}

.points{
    flex-basis: 20%;
    text-align: left;
}

.assignee{
    font-style: italic;
    margin-right: 10px;
}

.taskDone{
    text-decoration: line-through;
}

@media screen and (min-width: 768px){
    .taskItem{
        
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 1280px){
    .taskItem{
        flex-basis: 30%;
    }
}

