@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

form{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    text-align: center;
}