header{
    background-color: #DE837C;
    padding: 0.5% 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li{
    width: 80px;
    text-align: right;

}

header li, header h1, header nav{
    display: inline-block;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    
}

.nav-item a {
    color: #1B3641;
    font-weight: 600;
}

h1 {
    font-size: 20px;
}

.choretastic-logo{
    height: 100px;
    width: auto;
}

@media screen and (min-width: 768px){
    header{
        padding-right: 60px;
        padding-left: 60px;
    }
}