.scoreBoardList{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    color: #2f6273;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.position{
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .scoreBoardList{
        padding-left: 30%;
        padding-right: 30%;
        margin-bottom: 30px;
    }
}

